@use "auth";
@use "chat";
@use "profile";
@use "settings";
@use "panelchat";
@use "common/animations";
@use "common/components";
@use "common/colors" as *;
@use "common/material" as *;
@use "electron";
@use "dialogs/reply";
@use "download-app";

@use "lib/fonts/montserrat";
@use "lib/fonts/material-symbols";


* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $color-dark-surface;
    color: $color-dark-on-surface;
    line-height: 1.6;

    #main-wrapper {
        flex: 1;
        position: relative;
        min-height: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

body, #root {
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

mdui-dialog {
    > *:first-child {
        margin-block-start: 0;
    }

    > *:last-child {
        margin-block-end: 0;
    }
}